body {
display: flex;
font-family: Roboto;
margin: 0;    
}

.header {
background-color: #1F2937;    
}

img {
width: 250px;
height: 250px;    
}

li {
list-style: none;
color: #E5E7EB;    
}

.signupbutton {
background-color: #3882F6;
color: #F9FAF8;
font-size: 20px;    
}

.headerlogoone,.headerlogotwo {
font-size: 24px;
display: flex;    
}

.headerlogobox {
display: flex;
gap: 5px;    
}

.toptext {
font-size: 48px;
font-weight: 900;
display: flex;
align-items: center;    
}

.toppara {
color: #E5E7EB;
font-size: 18px;
}